<h1>Task list</h1>

<%= link_to "Add new task", new_task_path %>

<% @tasks.each do |task| %>
  <h3><%= link_to task.name, task_path(task) %></h3>
  <p>Done: <%= task.done %></p>
  <p><%= link_to "Delete", task_path(task), method: :delete, data: { confirm: "Are you sure?" } %></p>
<% end %>

